@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 78px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
  nav {
    position: relative;
    ul.desktop {
      display: none;
    }
    ul.mobile {
      display: none;
      position: absolute;
      top: 24px;
      right: -30px;
      background-color: rgb(240, 236, 228);
      padding: 5px;
    }
    ul {
      list-style: none;
      a {
        text-decoration: none;
        color: #000000;
        font-size: 14px;
        font-weight: bold;
        font-family: "DM Sans", sans-serif;
      }
    }
  }
  h1 {
    font-family: "DM Sans", sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
  }

  img.menu:hover ~ ul.mobile {
    display: block;
  }
  div.button {
    display: none;
    button.learn_more {
      width: 127px;
      height: 38px;
      background-color: #485c11;
      border: none;
      color: #ffffff;
      font-size: 14px;
      font-family: "DM Sans", sans-serif;
      font-weight: 600;
      border-radius: 1000px;
    }
  }
}

main {
  // section first
  section.first {
    // height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 76px;
      color: #000000;
      width: 343px;
      height: 130px;
      font-family: "Crimson Text", serif;
      font-weight: 500;
      line-height: 0.85;
      letter-spacing: -0.045em;
      text-align: center;
      margin-bottom: 70px;
    }
    img.hero_second {
      display: none;
    }
    img.hero_third {
      display: none;
    }
  }
}

@media screen and (min-width: 799px) {
  header {
    padding: 0 40px;
    margin-bottom: 70px;
    nav {
      ul.desktop {
        display: flex;
        gap: 27px;
      }
    }
    img.menu {
      display: none;
    }
    div.button {
      display: block;
    }
  }

  main {
    section.first {
      img.hero_first {
        display: none;
      }
      h2 {
        margin-bottom: 80px;
        font-size: 140px;
        width: 720px;
        height: 224px;
      }
      img.hero_second {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1279px) {
  main {
    section.first {
      h2 {
        margin-bottom: 99px;
        font-size: 160px;
        width: 1200px;
        height: 136px;
      }
      img.hero_second {
        display: none;
      }
      img.hero_third {
        display: block;
      }
    }
  }
}
