@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

$primary_color: #485c11;
$black: #000000;
$white: #ffffff;
$button_color_one: #dfecc6;
$font_color: #6f6f6f;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 78px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
  nav {
    position: relative;
    ul.desktop {
      display: none;
    }
    ul.mobile {
      display: none;
      position: absolute;
      top: 24px;
      right: -30px;
      background-color: rgb(240, 236, 228);
      padding: 5px;
    }
    ul {
      list-style: none;
      a {
        text-decoration: none;
        color: $black;
        font-size: 14px;
        font-weight: bold;
        font-family: "DM Sans", sans-serif;
      }
    }
  }
  h1 {
    font-family: "DM Sans", sans-serif;
    color: $black;
    font-size: 30px;
    font-weight: 500;
  }

  img.menu:hover ~ ul.mobile {
    display: block;
  }
  div.button {
    display: none;
    button.learn_more {
      width: 127px;
      height: 38px;
      background-color: $primary_color;
      border: none;
      color: $white;
      font-size: 14px;
      font-family: "DM Sans", sans-serif;
      font-weight: 600;
      border-radius: 1000px;
    }
  }
}

main {
  // section first
  section.first {
    // height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 76px;
      color: $black;
      width: 343px;
      height: 130px;
      font-family: "Crimson Text", serif;
      font-weight: 500;
      line-height: 0.85;
      letter-spacing: -0.045em;
      text-align: center;
      margin-bottom: 70px;
    }
    img.hero_second {
      display: none;
    }
    img.hero_third {
      display: none;
    }
  }

  // section second
  section.second {
    height: 436px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    padding: 50px 16px;
    gap: 30px;

    p.trust {
      font-size: 15px;
      font-weight: 500;
      color: $font_color;
      font-family: "DM Sans", sans-serif;
    }

    div.images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }
  }

  // section.third
  section.third {
    height: 1413px;
    padding: 80px 16px;
    border-top: 1px solid #e9e9e9;

    div.benefits {
      height: 301px;
      border-bottom: 1px solid #e9e9e9;
      span {
        font-family: "Roboto Mono", monospace;
        font-size: 10.5px;
        font-weight: 500;
        letter-spacing: -0.03em;
        color: $primary_color;
      }
      h2 {
        font-size: 50px;
        font-family: "Crimson Text", serif;
        color: $black;
        letter-spacing: -0.03em;
        width: 300px;
        font-weight: 500;
        margin: 30px 0;
        line-height: 95%;
      }
      p {
        font-family: "DM Sans", sans-serif;
        font-weight: 500;
        font-size: 16px;
        width: 400px;
        color: $font_color;
      }
    }
    div.card {
      height: 229px;
      padding: 40px 0;
      h3 {
        font-family: "Crimson Text", serif;
        font-size: 18px;
        color: $black;
        font-weight: 600;
        letter-spacing: -0.03em;
        margin-top: 24px;
        margin-bottom: 20px;
      }
      p {
        color: $font_color;
        font-family: "DM Sans", sans-serif;
        font-size: 15px;
        font-weight: 500;
        width: 340px;
      }
    }
    div.four {
      p.generate {
        width: 303px;
      }
    }
    div.one,
    div.two,
    div.three {
      border-bottom: 1px solid #e9e9e9;
    }
    div.container {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  // section fourth
  section.fourth {
    height: 700px;
    border-bottom: 1px solid #e9e9e9;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    img.nature_first {
      width: 343px;
      height: 600px;
    }
    img.nature_second {
      display: none;
    }
    img.nature_third {
      display: none;
    }
  }

  // section fifth
  section.fifth {
    height: 1321px;
    padding: 60px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img.block_two {
      display: none;
    }
    img.block_three {
      display: none;
    }
    div.container {
      div.text_fifth {
        h3 {
          font-size: 50px;
          color: $black;
          font-family: "Crimson Text", serif;
          font-weight: 500;
          width: 300px;
          line-height: 95%;
        }
        p {
          font-size: 15px;
          color: $font_color;
          font-weight: 400;
          font-family: "DM Sans", sans-serif;
          width: 300px;
          line-height: 140%;
          letter-spacing: -0.005em;
          margin-top: 40px;
          margin-bottom: 40px;
        }
      }
      div.small_card {
        width: 311px;
        height: 103px;
        display: flex;
        gap: 30px;
        border-top: 1px solid #e9e9e9;
        padding-top: 20px;
        span {
          color: $font_color;
          font-family: "DM Sans", sans-serif;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: -0.005em;
        }
        p {
          font-family: "DM Sans", sans-serif;
          font-size: 15px;
          font-weight: 400;
          letter-spacing: -0.005em;
          line-height: 140%;
          color: $black;
        }
      }
      div.button_two {
        margin-top: 40px;
        margin-bottom: 80px;
      }
    }
  }
  button.discover {
    width: 138px;
    height: 48px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 1000px;
    background-color: #dfecc6;
    font-family: "DM Sans", sans-serif;
    color: $black;
    border: none;
  }

  // section six
  section.six {
    height: 1148px;
    padding: 80px 8px;
    border-top: 1px solid #929292;
    div.choose {
      height: 400px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        font-family: "Roboto Mono", monospace;
        font-size: 10.5px;
        color: $primary_color;
        font-weight: 500;
      }
      h3 {
        font-size: 50px;
        font-weight: 500;
        width: 343px;
        line-height: 95%;
        font-family: "Crimson Text", serif;
        color: $black;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      p {
        font-family: "DM Sans", sans-serif;
        line-height: 140%;
        font-size: 15px;
        font-weight: 500;
        color: $font_color;
        width: 350px;
        letter-spacing: -0.05em;
        margin-bottom: 30px;
      }
    }
    div.table {
      display: flex;
      width: 100%;
      overflow-x: scroll;
      table {
        border-collapse: collapse;

        td {
          border: 1px solid #e9e9e9;
          width: 238px;
          height: 79px;
          justify-content: left;
          padding-left: 20px;
          font-family: "Roboto Mono", monospace;
          font-size: 11px;
          font-weight: 400;
          color: #000000;
          letter-spacing: -0.01em;
        }
        tr {
          td,
          th {
            display: flex;
            align-items: center;
            gap: 8px;
          }
          th {
            font-family: "Rethink Sans", sans-serif;
            font-size: 25px;
            font-weight: 600;
            color: #6f6f6f;
            letter-spacing: -0.08em;
            border-bottom: 1px solid #929292;
            width: 238px;
            height: 96px;
            justify-content: center;
          }
          th.area {
            color: #000000;
            font-family: "DM Sans", sans-serif;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-left: 1.5px solid #e9e9e9;
            border-top: 1.5px solid #e9e9e9;
            border-right: 1.5px solid #e9e9e9;
          }
          td.no_border {
            border-right: none;
          }
          td.full {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom: 1.5px solid #e9e9e9;
          }
        }
      }
    }
  }

  // section seven
  section.seven {
    height: 909px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    img.rocks_two {
      display: none;
    }
    img.rocks_three {
      display: none;
    }
    div.rocks_text {
      p {
        font-family: "Crimson Text", serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 110%;
        color: #000000;
        letter-spacing: -0.04em;
        height: 315px;
        width: 311px;
        margin-top: 80px;
        margin-bottom: 50px;
      }
      span {
        font-family: "DM Sans", sans-serif;
        font-size: 15px;
        color: #000000;
        font-weight: 500;
      }
      span.data {
        color: #485c11;
        font-size: 10.5px;
        font-weight: 500;
        font-family: "Roboto Mono", monospace;
      }
      div.spans {
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }
  }

  // section eight
  section.eight {
    height: 1340px;
    padding: 80px 16px 0;
    border-top: 1.5px solid #e9e9e9;
    margin-bottom: 60px;
    img.map_two {
      display: none;
    }
    img.map_three {
      display: none;
    }
    div.success {
      height: 250px;
      border-bottom: 1.5px solid #e9e9e9;
      h2 {
        font-size: 50px;
        font-family: "Crimson Text", serif;
        font-weight: 500;
        color: #000000;
        margin-bottom: 40px;
      }
    }
    div.scroll {
      width: 100%;
      display: flex;
      overflow-x: scroll;
      gap: 20px;
      padding-top: 60px;
      margin-bottom: 100px;
      div.card_eight {
        min-width: 240px;
        height: 284px;
        span {
          color: #929292;
          font-size: 64px;
          font-family: "DM Sans", sans-serif;
        }
        h4 {
          font-size: 18px;
          font-family: "Crimson Text", serif;
          font-weight: 500;
          color: #000000;
          margin-top: 50px;
          margin-bottom: 20px;
        }
        p {
          color: #6f6f6f;
          font-family: "DM Sans", sans-serif;
          font-size: 15px;
          font-weight: 400;
          width: 210px;
        }
      }
    }
    div.maps {
      display: flex;
      justify-content: center;
    }
  }

  // section nine
  section.nine {
    height: 457px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    h2 {
      font-family: "Crimson Text", serif;
      font-size: 50px;
      font-weight: 500;
    }
    p {
      color: #6f6f6f;
      width: 343px;
      font-size: 15px;
      font-family: "DM Sans", sans-serif;
      font-weight: 500;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    button.learn {
      width: 343px;
      height: 48px;
      border-radius: 1000px;
      background-color: #485c11;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      border: none;
    }
  }
}

@media screen and (min-width: 799px) {
  header {
    padding: 0 40px;
    margin-bottom: 70px;
    nav {
      ul.desktop {
        display: flex;
        gap: 27px;
      }
    }
    img.menu {
      display: none;
    }
    div.button {
      display: block;
    }
  }

  main {
    section.first {
      img.hero_first {
        display: none;
      }
      h2 {
        margin-bottom: 80px;
        font-size: 140px;
        width: 720px;
        height: 224px;
      }
      img.hero_second {
        display: block;
      }
    }
    section.second {
      padding: 50px 40px;
      height: 334px;
    }
    section.third {
      height: 893px;
      padding: 80px 40px;

      div.benefits {
        height: 301px;
        span {
          font-size: 11px;
          letter-spacing: -0.01em;
        }
        h2 {
          width: 520px;
          font-size: 54px;
          margin: 50px 0;
          line-height: 90%;
        }
        p {
          font-size: 15px;
          width: 520px;
        }
      }
      div.cards {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;

        div.card {
          width: 350px;

          p {
            width: 340px;
          }
        }
      }
      div.four {
        p.generate {
          width: 303px;
        }
      }
      div.one,
      div.two,
      div.three {
        border-bottom: 1px solid #e9e9e9;
      }
    }
    section.fourth {
      height: 780px;
      padding: 60px 40px 0;

      img.nature_first {
        display: none;
      }
      img.nature_second {
        display: block;
        width: 720px;
        height: 600px;
      }
      img.nature_third {
        display: none;
      }
    }
    section.fifth {
      height: 1516px;
      padding: 60px 40px;

      img.block_two {
        display: block;
      }
      img.block_one {
        display: none;
      }
      div.container {
        div.text_fifth {
          h3 {
            font-size: 54px;
            width: 640px;
            line-height: 90%;
          }
          p {
            width: 640px;
          }
        }
        div.small_card {
          width: 720px;
          height: 61px;
        }
      }
    }
    section.six {
      padding: 80px 40px;
      div.choose {
        height: 390px;
        span {
          font-size: 11px;
        }
        h3 {
          font-size: 54px;
          width: 560px;
          line-height: 90%;
          margin-top: 40px;
          margin-bottom: 40px;
        }
        p {
          width: 560px;
          margin-bottom: 40px;
        }
      }
      div.table {
        display: flex;
        justify-content: center;
        overflow-x: hidden;
      }
    }
    section.seven {
      height: 1256px;

      img.rocks_two {
        display: block;
      }
      img.rocks_one {
        display: none;
      }
      div.rocks_text {
        p {
          font-size: 40px;
          height: 220px;
          width: 720px;
        }
      }
    }
    section.eight {
      height: 1354px;
      padding: 80px 40px 0;

      img.map_two {
        display: block;
      }
      img.map_one {
        display: none;
      }
      div.success {
        height: 250px;
        display: flex;
        justify-content: space-between;

        h2 {
          font-size: 54px;
        }
      }
      div.scroll {
        overflow-x: hidden;

        div.card_eight {
          min-width: 240px;
          height: 290px;
        }
      }
      div.maps {
        display: flex;
        justify-content: center;
      }
    }
    section.nine {
      height: 459px;
      h2 {
        font-size: 54px;
      }
      p {
        width: 520px;
      }
      button.learn {
        width: 520px;
      }
    }
  }
}

@media screen and (min-width: 1279px) {
  main {
    section.first {
      h2 {
        margin-bottom: 99px;
        font-size: 160px;
        width: 1200px;
        height: 136px;
      }
      img.hero_second {
        display: none;
      }
      img.hero_third {
        display: block;
      }
    }
    section.second {
      height: 235px;
    }
    section.third {
      height: 700px;
      padding: 80px 40px;

      div.benefits {
        height: 301px;
        span {
          font-size: 11px;
          letter-spacing: -0.01em;
        }
        h2 {
          width: 520px;
          font-size: 54px;
          margin: 50px 0;
          line-height: 90%;
        }
        p {
          font-size: 15px;
          width: 520px;
        }
      }
      div.cards {
        display: flex;
        flex-wrap: nowrap;

        gap: 40px;

        div.card {
          width: 285px;

          h3,
          p {
            width: 245px;
          }
        }
      }

      div.one,
      div.two,
      div.three {
        border-bottom: none;
      }
      div.three,
      div.four {
        border-top: 1px solid #e9e9e9;
      }
    }
    section.fourth {
      padding: 40px 40px 0;
      img.nature_first {
        display: none;
      }
      img.nature_second {
        display: none;
      }
      img.nature_third {
        display: block;
        width: 1200px;
        height: 620px;
      }
    }
    section.fifth {
      height: 831px;
      padding: 0 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      img.block_two {
        display: none;
      }
      img.block_three {
        display: block;
      }
      div.container {
        width: 590px;
        div.text_fifth {
          h3 {
            font-size: 60px;
            width: 510px;
          }
          p {
            width: 510px;
          }
        }
        div.small_card {
          width: 590px;
          height: 82px;
          p {
            width: 460px;
          }
        }
      }
    }
    section.six {
      padding: 80px 40px;
      div.choose {
        height: 380px;
        span {
          font-size: 11px;
        }
        h3 {
          font-size: 54px;
          width: 560px;
          line-height: 90%;
          margin-top: 40px;
          margin-bottom: 40px;
        }
        p {
          width: 720px;
          margin-bottom: 40px;
        }
      }
      div.table {
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        table {
          th {
            width: 350px;
            height: 96px;
          }
          td {
            width: 350px;
            height: 81px;
          }
        }
      }
    }
    section.seven {
      height: 790px;
      display: flex;
      flex-direction: row;
      gap: 70px;
      justify-content: center;

      img.rocks_two {
        display: none;
      }
      img.rocks_three {
        display: block;
      }
      div.rocks_text {
        p {
          font-size: 40px;
          height: 294px;
          width: 540px;
        }
      }
      div.spans {
        display: flex;
        flex-direction: column;
        height: 46px;
        width: 90px;
      }
    }
    section.eight {
      height: 1420px;
      img.map_two {
        display: none;
      }
      img.map_three {
        display: block;
      }
      div.success {
        height: 200px;

        h2 {
          font-size: 54px;
        }
      }
      div.scroll {
        gap: 50px;
        div.card_eight {
          width: 386px;
          height: 300px;
          span {
            font-size: 80px;
          }
          p {
            width: 356px;
          }
        }
      }
      div.maps {
        display: flex;
        justify-content: center;
      }
    }
    section.nine {
      height: 464px;

      p {
        width: 600px;
      }
      button.learn {
        width: 600px;
      }
    }
  }
}
